.img-responsive {
    height: 180px;
    width: 180px;
}

#quiz1 {
    text-align: center;
}

h1,
.preButton,
.nextButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    text-align: left;
}

ul {
    list-style: none;
}

li {
    font-family: 'Cambria', serif;
    font-size: 1.5em;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}

p {
    font-family: 'Gabriola', serif;
}


/* Quiz Classes */

.quizContainer {
    background-color: white;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    position: relative;
}

.quizcontainer #quiz1 {
    text-shadow: 1px 1px 2px orange;
    font-family: "Georgia", Arial, sans-serif;
}

.nextButton,
.preButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    color: black;
    position: relative;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.nextButton {
    float: right;
    right: 30%;
}

.preButton {
    float: left;
    left: 30%;
}

.question {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #f3dc45;
    text-align: left;
}

.quizMessage {
    background-color: lightslategrey;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    top: 80%;
    left: 40%;
}

.choiceList {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #696969;
    font-size: 15px;
}

.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    color: green;
    text-align: center;
    font-size: 25px;
    font-family: 'Verdana', serif;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 30%;
}

#iTimeShow {
    font-size: 25px;
    color: #ffd700;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

#timer {
    color: #006400;
    font-size: 25px;
}